<h1>This is Parent</h1>

<button type="button" (click)="increment()">Increment</button>
<button type="button" (click)="decrement()">Decrement</button>


<!-- <h1>{{messageFromChild}}</h1> -->
<div class="card mb-1">
    <div class="card-body bg-dark text-white text-center " *ngIf="isDisplay">
        <h2>Name: <span>{{Name}}</span></h2>
        <h5>Age: <span> {{Age}}</span></h5>
        <h5>Designation:<span>  {{Designation}}</span></h5>
        <h5>Salary: <span>{{salary}}</span></h5>
    </div>
</div>
<app-child [count]="counter" (message)="empData($event)"></app-child>