<!-- <app-login></app-login>
<app-sigin></app-sigin> -->

<!-- <app-parent></app-parent> -->
<!-- <app-project></app-project> -->

<!-- <a href="/child">Child</a>
<a href="/parent">Parent</a> -->
<!-- <a routerLink = "/child">Child</a><br> -->
<!-- <a routerLink = "/parent">Parent</a> -->
<!-- <router-outlet></router-outlet> -->

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" routerLink ="/registrationform">Register</a>
  <a class="navbar-brand" routerLink ="/loginform">Login</a>
</nav>

<router-outlet></router-outlet>

<!-- <app-reactive></app-reactive> -->


