<div class="col-6 col-md-5 m-auto">
    <form #LoginForm="ngForm" (ngSubmit)="onLogin(LoginForm.value)">
        <div class="mb-3">
            <label class="form-label">Enter EmailId:</label>
            <input type="email" class="form-control" required ngModel name="email" placeholder="Enter Your EmailId"
                #email='ngModel' pattern="[a-zA-Z0-9.!#$%&'+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)$">
            <div *ngIf=" email.touched">
                <p *ngIf="email.errors?.required" style="color:red;">Email is required</p>
                <p *ngIf="email.errors?.pattern" style="color:red;">Email is not valid</p>


            </div>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" required ngModel name="password" placeholder="Create Password" #pass='ngModel'>
            <!-- <div *ngIf="pass.touched">
              <p *ngIf="pass.errors?.required" style="color: red;">Password is required</p>
              <p *ngIf="pass.errors?.pattern" style="color: red;">Password Must Contain 1 caps 1 specila character and 1 number</p>
  
            </div> -->
          </div>
          <button type="submit" class="btn btn-primary" >Login</button>
    </form>

</div>